<h1>Bulking up</h1>

<div class="thumbnailcontainer">
    <ul>
      <% @bulking_programmes.each do |program_set| %>

        <%= link_to program_set, class: "divlink" do %>
            <div class="thumbposition">  
              <li>
                <div class="<%= male_female('setthumbnail') %>">
                  <h1><%= program_set.name %></h1>
                  <ol>
                    <% program_set.programs.each do |program| %>
                      <li><%= program.exercise.name %></li>
                    <% end %>
                  </ol>

                </div>
              </li>
            </div>
        <% end %>

      <% end %>
    </ul>
</div>