<div class="signlog">
  <%= render "shared/sign_up_log_in" %>
</div>

<div class="temptitle">
  <h1>Bulking up</h1>
</div>

<div class="contocome">
  <p>Content to be added shortly</p>
</div>

<!--
<div class="">

      <% @bulking_programmes.each do |program_set| %>


            <div class="publicsetcnt">  

              <div class="publicsetlist">
                <%= program_set.name %>
                <ol>
                  <% program_set.programs.each do |program| %>
                    <li><%= program.exercise.name %></li>
                  <% end %>
                </ol>
              </div>

              <div class="publicsetdesc">
                <%= program_set.description %>
              </div>


            </div>

            <hr>

      <% end %>

</div>

-->
