<div class="signlog">
  <%= render "shared/sign_up_log_in" %>
</div>

<div class="temptitle">
	<h1>Lean machine</h1>
</div>

<div class="bodyinfowrap">
	<div class="bodyshapeimage">
		<p>image to come</p>
	</div>
	<div class="bodyshapeinfocnt">
		<p><%=
			"Pellentesque convallis varius turpis ut tincidunt. Curabitur fermentum, ante a viverra adipiscing, dolor eros consequat est, eu ultricies risus lectus sollicitudin risus. Etiam eget rutrum purus. Etiam eu ullamcorper ligula. Fusce mi urna, auctor non enim id, varius elementum odio. Cras ut diam orci. Aenean a nibh rutrum, eleifend ligula non, sagittis augue. Quisque id aliquet nisi, ac pulvinar neque."
		%></p>
	</div>

</div>
<hr>

<%= render partial: "shape_programmes", :locals => { shape_programmes: @lean_programmes } %>