
/* ------------------------------------ */
/* ------ ADMIN BODY SHAPE INFO ------- */
/* ------------------------------------ */

/* >>>>>>> TEMP CONTENT <<<<<<<<< */

.contocome {
	margin-top: 30px;
	text-align: center
}

.contocome p {
	font-size: 15px;
}

.temptitle {
	text-align: center;
	margin: 10px 0px 0px 20px;
	padding-bottom: 10px;
}



.bodyinfowrap {
	margin: 10px;
	min-height: 210px;
}

.bodyshapeimage {
	width: 170px;
	height: 200px;
	border: 1px solid;
	float: left;
}

.bodyshapeimage p {
	text-align: center;
	margin-top: 80px;
	color: red;
}


.bodyshapeinfocnt {
	
}

.bodyshapeinfocnt p {
	margin-left: 180px;
}



/* ---------------------------------- */
/* ------ ADMIN EXERCISE SETS ------- */
/* ---------------------------------- */

.setprogspeech {
	margin: 10px 15px 10px 15px;
}

.setprog {
	margin: 10px;
}

.progclonewrap {
	width: 620px;
}

.setprogbox {
	border: 3px solid grey;
	width: 480px;
	margin-bottom: 10px;
	float: left;
}

.setprogboxpink { border: 3px solid #BA548A; }
.setprogboxblue { border: 3px solid #2576B2; }

.setprogname {
	clear: both;
	margin-left: 5px;
}

.setprogname h1 {
	font-size: 15px;
	margin: 5px;

}

.setprogdesc {
	margin: 5px;
	margin-bottom: 15px;
}

.setexercisepink {
	background: #FFEBFF;
}
.setexerciseblue {
	background: #c4e0f5;
}

.setinfo {
	margin: 5px;
	min-height: 40px;
}

.setinfo h1 {
	font-size: 15px;
}

.setinfo h2 {
	width: 245px;
	max-height: 10px;
	font-size: 17px;
	margin: 5px;
	margin-right: 10px;
	float: left;
}

.setdetailcnt {
	margin-left: 5px;
}

.setprogdetails {
	border-left: 2px solid red;
	padding: 6px 9px 6px 9px;
	text-align: center;
	display: inline-block;
}

.clonebox {
	border: 3px solid red;
	width: 125px;
	height: 200px;
	float: right;

}

.clonebox p {
	margin: 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	height: 132px;
}

.cloneboxpink { border: 3px solid #BA548A; }
.cloneboxblue { border: 3px solid #2576B2; }

.clonebtncnt a { color: #FFF; }
.clonebtncnt {
	height: 58px;
	text-align: center; 
}

.clonebtn{
border:1px solid #ffad41;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

.clonebtn:hover{
border:1px solid #ff9913;
 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}


