html * {
	margin: 0px;
}

body {
	
}

#wrap {
	width: 1024px;

	margin: 0 auto;
	position: relative;

}


.foot {
	position: relative;
	width: 1024px;
	background: #222e39;
	color: white;
	height: 200px;
	margin: 0 auto;
}

.clearfooter {
	height: 20px;
	clear: both;
}

.personalinfo {
	margin: 0px 10px 10px 50px;
	padding-top: 20px;
}

.mainbar {
	height: 180px;
}

.maintitlebar {
	height: 100px;
}

.mainnavbar {
	background: #222e39;
	height: 25px;
	margin-top: 20px;
	padding: 0px;
}

.mainnavbar ul {
	list-style: none;
	float: right;
	height: 25px;
	margin-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.mainnavbar ul li {
	display: inline;
	line-height: 25px;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
}

.mainnavbar ul li:hover {
	background: #39f;
	cursor: pointer;

}

.mainnavbar ul li a {
	color: #b7c3d3;
	background: none;
}

.navlink a {
	text-decoration: none;
}




/* >>>>>>> LEFT SIDE <<<<<<<<< */

.leftside {
	position: absolute;
	width: 150px;
	height: 100%;
	margin: 5px;
	margin-top: 10px;
	float: left;
}

.links {
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 10px;
	border: 4px solid #b7c3d3;
	background: #222e39;
	color: #b7c3d3;
	text-align: center;
	width: 135px;
}

.links h2 {
	font-size: 16px;
	padding-top: 5px;
	margin-bottom: 5px;
}

.links ul {
	list-style: none;
	padding: 0px;
}

.links ul li {
	margin-top: 5px;
	font-size: 13px;
	line-height: 22px;
}

.links ul li:hover {
	background: #39f;
	cursor: pointer;
}

.sidelinks {
	text-decoration: none;
	color: #b7c3d3;
}

.sidelinks:link { color: #b7c3d3; }
.sidelinks:visited { color: #b7c3d3; }
.sidelinks:hover { background: none; }
.sidelinks:active { color: #b7c3d3; }




/* >>>>>>> RIGHT SIDE <<<<<<<<< */

.rightside {
	background: #222e39;
	border-radius: 10px;
	width: 195px;
	height: 500px;
	margin: 5px;
	margin-top: 10px;
	float: left;
}

.rightside {
	text-align: center;
}

.advertising h1 {
	padding-top: 10px;
}

.advertising {
	margin: 0 auto;
	margin-top: 5px;
	background: white;
	border-radius: 10px;
	width: 180px;
	height: 400px;
}

.image {
	margin: 40px auto;
	margin-bottom: 10px;
	height: 150px;
	width: 150px;

}




/* >>>>>>> CENTER CONTAINER <<<<<<<<< */

#container {
	width: 655px;
	margin-top: 10px;
	margin-left: 155px;
	float: left;
}

/* >>>>>>> SHARED PAGE CONTENT <<<<<<<<< */

.pageheading {
	text-align: center;
	margin: 5px 0px 20px 0px;
}

.flash {
	padding: 5px 5px 5px 10px;
	height: 20px;
	margin: 10px;
	background: #D2FFD3;
	border: 2px solid #0C6727;
}

.flashmale {
	background: #899DFF;
	border: 2px solid #3947BA;
}

.flashfemale {
	background: #E29BE8;
	border: 2px solid #BA548A;
}


/* >>>>>>> BUTTONS <<<<<<<<< */

.submitstyle {
	-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:14px;font-family:arial, helvetica, sans-serif; letter-spacing: 1px; padding: 6px 15px 6px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
}

/* >>>>>>> MALE <<<<<<<<< */
.submitstylemale {
	border:1px solid #7eb9d0;
	 background-color: #222e39; background-image: -webkit-gradient(linear, left top, left bottom, from(#222e39), to(#23538a));
	 background-image: -webkit-linear-gradient(top, #222e39, #23538a);
	 background-image: -moz-linear-gradient(top, #222e39, #23538a);
	 background-image: -ms-linear-gradient(top, #222e39, #23538a);
	 background-image: -o-linear-gradient(top, #222e39, #23538a);
	 background-image: linear-gradient(to bottom, #222e39, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222e39, endColorstr=#23538a);
}

.submitstylemale:hover{
	 border:1px solid #5ca6c4;
	 background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
	 background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
	 background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
	 background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
	 background-image: -o-linear-gradient(top, #82bbd1, #193b61);
	 background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}

/* >>>>>>> FEMALE <<<<<<<<< */
.submitstylefemale {
	border:1px solid #C35CCC;
	background-color: #C893CC; background-image: -webkit-gradient(linear, left top, left bottom, from(#C893CC), to(#E80C8A));
	 background-image: -webkit-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -moz-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -ms-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -o-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: linear-gradient(to bottom, #C893CC, #E80C8A);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C893CC, endColorstr=#E80C8A);
}

.submitstylefemale:hover{

	 background-color: #E80C8A; background-image: -webkit-gradient(linear, left top, left bottom, from(#E80C8A), to(#C893CC));
	 background-image: -webkit-linear-gradient(top, #E80C8A, #C893CC);
	 background-image: -moz-linear-gradient(top, #E80C8A, #C893CC);
	 background-image: -ms-linear-gradient(top, #E80C8A, #C893CC);
	 background-image: -o-linear-gradient(top, #E80C8A, #C893CC);
	 background-image: linear-gradient(to bottom, #E80C8A, #C893CC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E80C8A, endColorstr=#C893CC);
}


.submitbtnpos {
	float: right;
}

.addbtnpos {
	float: right;
}




/* >>>>>>> TEMP CONTENT <<<<<<<<< */

.contocome {
	margin-top: 30px;
	text-align: center
}

.contocome p {
	font-size: 15px;
}

.temptitle {
	margin: 10px 0px 0px 20px;
}


