

.exercisebox {
	position: relative;
	background: #E3FFFF;
	height: 125px;
	margin: 5px;
	border: 1px solid;
}

.imagebox {
	height: 110px;
	width: 100px;
	border: 1px solid;
	margin: 5px;
	float: left;
}

.info {
	margin: 5px;
}

.info h2 {
	margin: 5px;
}

.red 	h2{ color: #991b1f; } /* CARDIO */
.blue 	h2{ color: #3f8abf; } /* ARMS */
.green 	h2{ color: #2e6e3d; } /* SHOULDERS */
.purple h2{ color: #643558; } /* LEGS */
.yellow h2{ color: #cacb2c; } /* CHEST */
.orange h2{ color: #ce7728; } /* BACK */
.brown 	h2{ color: #5a3c29; } /* ABS */

.info p {
	overflow: hidden;
	height: 60px;
	margin: 5px;
	font-size: 13.5px;
	color: #666666;
}

.checktext {
	text-align: right;
	padding-right: 5px;
}

.checkbox {
	margin-left: 10px;

}

.actions {
	position: absolute;
	bottom: 5px;
	right: 10px;
	list-style-type: none;
	text-align: right;
}

.actions li {
	display: inline;
}

/* ------------------------- */
/* >>>>>> FORM FIELDS <<<<<< */
/* ------------------------- */

#sortable { list-style-type: none; padding: 0px; }

.fieldsarrowscontainer {
	position: relative;
	width: 610px;
	height: 70px;
}

.fieldcontainer{
	float: left;
	height: 60px;
	width: 360px;
}

.fieldsets {
	width: 40px;
}

.fieldreps {
	width: 40px;
}

.fieldweight {
	width: 50px;
}

.fielddistance {
	width: 50px;
}

.fieldstime {
	width: 30px;
	margin: 5px;
}




















