/* ----------------------------------- */
/* ------ CREATE EXERCISE FORM ------- */
/* ----------------------------------- */

.imagesrow {
	width: 630px;

}

.thumbimage {
	background: pink;
	height: 110px;
	width: 110px;
}

.mediumimage {
	display: inline-block;
	background: pink;
	height: 190px;
	width: 190px;
	border: 5px solid grey;
	margin: 2px;
	overflow: hidden;
}


/* ----------------------------------- */
/* ---------- EXERCISE LIST ---------- */
/* ----------------------------------- */

.exercisebox {
	min-height: 125px;
	position:relative;
	margin: 2px;
	margin: 5px;
	border: 3px solid #0C6727;
	background: #D2FFD3;
}

.imagebox {
	height: 110px;
	width: 110px;
	border: 1px solid;
	overflow: hidden;
	margin: 5px;
}

.exerciseImageSpace {
	position: absolute;
	width: 110px;
}

.missingimage {
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	line-height: 25px;
	margin-top: 28px;
	margin-left: 5px;
	margin-right: 5px;
	color: red;
	background: white;
	border: 2px solid;
}

.info {
	margin: 5px;
}

.info h2 {
	margin: 5px;
	margin-left: 122px;
}

.optype {
	margin-left: 122px;
}

.red 	h2{ color: #991b1f; } /* CARDIO */
.blue 	h2{ color: #3f8abf; } /* ARMS */
.green 	h2{ color: #2e6e3d; } /* SHOULDERS */
.purple h2{ color: #643558; } /* LEGS */
.yellow h2{ color: #cacb2c; } /* CHEST */
.orange h2{ color: #ce7728; } /* BACK */
.brown 	h2{ color: #5a3c29; } /* ABS */

.exerciseDescriptionContent {
	overflow: visible;
	margin: 5px;
	margin-left: 122px;
	font-size: 13px;
	color: #666666;
}

.exerciseMore {
	color: blue;
	margin-top: 5px;
	margin-left: 122px;
	cursor: pointer;
}

.checktext {
	text-align: right;
	padding-right: 5px;
}

.checkbox {
	margin-left: 10px;

}

.actions {
	position: absolute;
	bottom: 5px;
	right: 10px;
	list-style-type: none;
	text-align: right;
}

.actions li {
	display: inline;
}




















