
.description {
	background: white;
	border: 2px solid blue;
}

.description p {
	padding: 5px;
	font-size: 13.5px;
	color: #666666;
}

.programsbox {
	background: white;
	margin: 5px;
}

.programsbox h1 {
	color: red;
}

.textarea {
	font-size: 12px;
	height: 100px;
}

.field {
	font-size: 12px;
}

.form {
	margin: 10px;
}

.newcontainer {
	border: 1px solid blue;
}

.newcontainer h1 {
	margin: 10px;
	background: blue;
	color: white;
	height: 30px;
}







