
.description {
	background: white;
	border: 2px solid blue;
}

.description p {
	padding: 5px;
	font-size: 13.5px;
	color: #666666;
}

.programsbox {
	background: white;
	margin: 5px;
}

.programsbox h1 {
	color: red;
}

.textarea {
	font-size: 12px;
	height: 100px;
}

.field {
	font-size: 12px;
}

.form {
	margin: 10px;
}

.newcontainer {
	border: 1px solid blue;
}

.newcontainer h1 {
	margin: 10px;
	background: blue;
	color: white;
	height: 30px;
}


/* --------------------------------------- */
/* >>>>>>> PROGRAMME form fields  <<<<<<<< */
/* --------------------------------------- */

.programmeinformation {
	padding: 10px;
	background: #FFEE62;
	border: 2px solid #968C3A;
}

.name {
	margin: 10px 5px 10px 5px;
}

.desc {
	margin: 0px 20px 20px 20px;
}



/* --------------------------------------- */
/* >>>>>>>>>>> EXERCISE LIST <<<<<<<<<<<<< */
/* --------------------------------------- */

.search {
	background: black;
	color: white;
	height: 30px;
}

.iconoutercontainer {
	background: white;
	width: 635px;
	margin-left: 0px;
	padding: 0px;
}

.icons {
	position: relative;
	margin: 10px;
	margin-top: 30px;
}

.move {
	position: absolute;
	top: -20px;
	z-index: 2;
}

.abscol { background: rgba(90, 60, 41, 0.8); }
.armscol { background: rgba(63, 138, 191, 0.8); }
.shoulderscol { background: rgba(46, 110, 61, 0.8); }
.legscol { background: rgba(100, 53, 88, 0.8); }
.chestcol { background: rgba(202, 203, 44, 0.8); }
.backcol { background: rgba(206, 119, 40, 0.8); }
.cardiocol { background: rgba(153, 27, 31, 0.8); }

.buttons {
	width: 500px;
	height: 110px;
	margin-left: 55px;
	margin-top: 10px;
}

.buttons p {
	position: absolute;
	left: 60px;
	padding-left: 30px;
	background: white;
	height:60px;
	width: 150px;
	border: 1px solid;
	border-radius: 0px 10px 10px 0px;
	z-index: 1;
}

#absborder 			{ border: 4px solid #5a3c29; }
#armsborder 		{ border: 4px solid #3f8abf; }
#shouldersborder	{ border: 4px solid #2e6e3d; }
#legsborder 		{ border: 4px solid #643558; }
#chestborder 		{ border: 4px solid #cacb2c; }
#backborder 		{ border: 4px solid #ce7728; }
#cardioborder 		{ border: 4px solid #991b1f; }

.firstbtn {
	position: relative;
	margin-top: 5px;
	width: 220px;
	float: left;
}

.firstbtn:hover {
	cursor: pointer;
}

.btnpos {
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: 2;
}

.secondbtn {
	position: relative;
	margin-top: 65px;
	margin-left: 55px;
	width: 220px;
	float: left;	
}

.secondbtn:hover {
	cursor: pointer;
}


.titlebar {
	position: relative;
	background: black;
	height: 30px;
	text-align: center;
}

.titlebar h2 {
	border-radius: 5px;
	color: white;
	font-size: 15px;
	padding: 5px;

}

.buttonexerciseshide {
	position: absolute;
	top: 5px;
	left: 550px;
	width: 60px;
}

.exerciseborder {
	border: 1px solid;
}



/* --------------------------------------- */
/* >>>>>>>>>>> SHOW PROGRAM <<<<<<<<<<<<< */
/* --------------------------------------- */

.showprogram {	
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 10px;
	z-index: 2;
}

.showexercise {
	min-height: 125px;
	position:relative;
	margin: 2px;
	margin: 5px;
	border: 3px solid #0C6727;
	background: #D2FFD3;
}

.showimagebox {
	height: 110px;
	width: 110px;
	border: 1px solid;
	overflow: hidden;
}

.showinfo {
	margin: 5px;
	min-height: 80px;
}

.showinfo h1 {
	font-size: 15px;
}

.showinfo h2 {
	max-height: 20px;
	font-size: 20px;
	margin: 5px;
	margin-left: 122px;
}

.descriptionContent {
	min-height: 75px;
	margin-left: 122px;
	overflow: visible;
}

.more {
	display: none;
	color: blue;
	margin-top: 5px;
	margin-left: 122px;
	cursor: pointer;
}

.less {
	color: blue;
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
	display: none;
}


.imagespace {
	position: absolute;
	width: 110px;
	margin: 6px 10px 5px 5px;
}


.details {
	border-left: 2px solid red;
	padding: 6px 9px 6px 9px;
	text-align: center;
	z-index: 3;
	float: right;
}

.details h1 {
	padding-bottom: 10px;
	font-size: 18px;
}

.details span {
	font-size: 15px;
}

.containsdetails {
	float: right;
	margin-left: 5px;
}


/* --------------------------------------- */
/* >>>>>>>>>>> EDIT PROGRAM <<<<<<<<<<<<< */
/* --------------------------------------- */

.addDescriptionContent {
	min-height: 70px;
	margin-left: 122px;
	overflow: visible;
}

.editExercisebox {
	position: relative;
	background: #D2FFD3;
	min-height: 125px;
	margin: 5px;
	border: 1px solid #0C6727;
}

.emailexercise {
	background: rgba(255, 255, 255, 0.8);;
	border: 1px solid;
	margin: 6px;
	padding: 6px;
}

.addMore {
	display: none;
	float: left;
	color: blue;
	margin-top: 5px 5px 5px 5px;
	margin-left: 122px;
	cursor: pointer;
}



