/* ----------------------------------------- */
/* >>>>>>>>>>> PROGRAMME_SET LIST <<<<<<<<<< */
/* ----------------------------------------- */

.createlink {
	padding: 10px;
}

.createlink a {
	text-decoration: none;
}

.createlink a:link { text-decoration: none; color: white }
.createlink a:visited { text-decoration: none; color: white }
.createlink a:hover { text-decoration: none; color: white }
.createlink a:active { text-decoration: none; color: white }



.thumbnailcontainer {
	width: 650px;
}

.thumbposition {
	float: left;
}

.thumbnailcontainer ul {
	list-style: none;
	padding: 0px;
}

.setthumbnail {
	border: 3px solid;
	border-radius: 10px;
	margin: 10px;
	width: 190px;
	height: 240px;
}

.setthumbnailmale:hover {
	background-color: #222e39; background-image: -webkit-gradient(linear, left top, left bottom, from(#222e39), to(#23538a));
	 background-image: -webkit-linear-gradient(top, #222e39, #23538a);
	 background-image: -moz-linear-gradient(top, #222e39, #23538a);
	 background-image: -ms-linear-gradient(top, #222e39, #23538a);
	 background-image: -o-linear-gradient(top, #222e39, #23538a);
	 background-image: linear-gradient(to bottom, #222e39, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222e39, endColorstr=#23538a);
}

.setthumbnailfemale:hover {
	background-color: #C893CC; background-image: -webkit-gradient(linear, left top, left bottom, from(#C893CC), to(#E80C8A));
	 background-image: -webkit-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -moz-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -ms-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: -o-linear-gradient(top, #C893CC, #E80C8A);
	 background-image: linear-gradient(to bottom, #C893CC, #E80C8A);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C893CC, endColorstr=#E80C8A);
}

.setthumbnail h1 {
	text-align: center;
	margin: 2px 2px 5px 2px;
	padding: 2px 0px 10px 0px;
	border-radius: 5px 5px 0px 0px;
	font-size: 15px;
	background: black;
	height: 30px;
	color: white;
}

.setthumbnail ol {
	padding-left: 30px;
	height: 160px;
	overflow: auto;
}

.thumbnaaillinks {
	height: 35px;
	border-radius: 0px 0px 6px 6px;
	text-align: center;
}

.thumbnaaillinksmale {
	background: #4688E8;
}

.thumbnaaillinksfemale {
	background: #681A6E;
}

ul .thumbactionsul {
	padding-top: 5px;
}

.thumbactionsul li {
	height: 40px;
	display: inline;
	margin-top: 10px;
}

.thumbactionsul li a { text-decoration: none; }
.thumbactionsul li a { color: white; }
.thumbactionsul li a:hover { background: none; color: black; }

.divlink {
	text-decoration: none;
}

/* ------------------------------------------- */
/* >>>>>>> NEW PROGRAMME FORM FIELDS  <<<<<<<< */
/* ------------------------------------------- */

.programmeinformation {
	padding: 10px;
	background: #61A1BD;
	border: 2px solid #385D6E;
}

.programmeinformationmale {
	background: #899DFF;
	border: 2px solid #3947BA;
}

.programmeinformationfemale {
	background: #E29BE8;
	border: 2px solid #BA548A;
}

.name {
	margin: 10px 5px 10px 5px;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 20px;
}

.desc {
	margin: 0px 5px 20px 5px;
	margin-top: 30px;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 30px;
}

.publicbox {
	margin-right: 5px;
}




/* ------------------------------------------------ */
/* >>>>>> EDIT PROGRAMME DETAILS FORM FIELDS <<<<<< */
/* ------------------------------------------------ */

.toptextbox {
	margin: 10px;
}

.listandimgcnt {
	min-height: 310px;
}

#sortable { list-style-type: none; padding: 0px; }

.editexercisecnt{
	min-height: 125px;
	position:relative;
	margin: 5px;
	width: 490px;
	border: 3px solid #0C6727;
	background: #D2FFD3;
	cursor: pointer;
}

.editexercisecntmale {
	border: 3px solid #3947BA;
	background: #c4e0f5;
}

.editexercisecntfemale {
	border: 3px solid #BA548A;
	background: #FFEBFF;
}

.dragdropimgcnt {
	width: 139px;
	margin-right: 5px;
	border: 2px solid red;
	float: right;
}

.dragdropimgcnt p {
	border: 2px solid red;
	color: red;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	padding-bottom: 5px;
}

.dragdropimg {
	width: 139px;
	height: 270px;
	background: orange;
}

.fieldcontainer{
	float: left;
	height: 60px;
	width: 360px;
}

.fieldsets {
	width: 40px;
}

.fieldreps {
	width: 40px;
}

.fieldweight {
	width: 50px;
}

.fielddistance {
	width: 50px;
}

.fieldstime {
	width: 30px;
	margin: 5px;
}


.floatimagebox {
	float: left;
}



/* ----------------------------------------------- */
/* >>>>>>>>>>> EXERCISE BUTTONS LIST <<<<<<<<<<<<< */
/* ----------------------------------------------- */

.search {
	background: black;
	color: white;
	height: 30px;
}

.iconoutercontainer {
	background: white;
	width: 635px;
	margin-left: 0px;
	padding: 0px;
}

.icons {
	position: relative;
	margin: 10px;
	margin-top: 30px;
	margin-left: 30px;
}

.move {
	position: absolute;
	top: -20px;
	z-index: 2;
}

.abscol { background: rgba(90, 60, 41, 0.8); }
.armscol { background: rgba(63, 138, 191, 0.8); }
.shoulderscol { background: rgba(46, 110, 61, 0.8); }
.legscol { background: rgba(100, 53, 88, 0.8); }
.chestcol { background: rgba(202, 203, 44, 0.8); }
.backcol { background: rgba(206, 119, 40, 0.8); }
.cardiocol { background: rgba(153, 27, 31, 0.8); }

.buttons {
	width: 500px;
	height: 110px;
	margin-left: 55px;
	margin-top: 10px;
}

.buttons p {
	position: absolute;
	left: 60px;
	padding-left: 30px;
	background: white;
	height:60px;
	width: 150px;
	border: 1px solid;
	border-radius: 0px 10px 10px 0px;
	z-index: 1;
}

#absborder 			{ border: 4px solid #5a3c29; }
#armsborder 		{ border: 4px solid #3f8abf; }
#shouldersborder	{ border: 4px solid #2e6e3d; }
#legsborder 		{ border: 4px solid #643558; }
#chestborder 		{ border: 4px solid #cacb2c; }
#backborder 		{ border: 4px solid #ce7728; }
#cardioborder 		{ border: 4px solid #991b1f; }

.firstbtn {
	position: relative;
	margin-top: 5px;
	width: 220px;
	float: left;
}

.btnpos {
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: 2;
}

.btnpos:hover {
	cursor: pointer;
	top: -30px;
}

.secondbtn {
	position: relative;
	margin-top: 65px;
	margin-left: 55px;
	width: 220px;
	float: left;	
}


.titlebar {
	position: relative;
	background: black;
	height: 30px;
	text-align: center;
}

.titlebar h2 {
	border-radius: 5px;
	color: white;
	font-size: 15px;
	padding: 5px;

}

.buttonexerciseshide {
	position: absolute;
	top: 5px;
	left: 415px;
	width: 100px;
}

.buttonexerciseshide2 {
	position: absolute;
	top: 5px;
	left: 520px;
	width: 70px;
}

.exerciseborder {
	border: 1px solid;
}




/* ------------------------------------------------------ */
/* >>>>>>>>>>> SHOW PROGRAMME EXERCISE LIST <<<<<<<<<<<<< */
/* ------------------------------------------------------ */

.buttoncontainer {
	width: 625px;
	text-align: center;
}

.btnlink {
	display: inline;
	margin: 0px 10px 0px 10px;
	
}


.showprogram {	
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 10px;
	z-index: 2;
}

.showexercise {
	min-height: 125px;
	position:relative;
	margin: 2px;
	margin: 5px;
	border: 3px solid #0C6727;
	background: #D2FFD3;
}

.showexercisefemale {
	border: 3px solid #BA548A;
	background: #FFEBFF;
}

.showexercisemale {
	border: 3px solid #3947BA;
	background: #c4e0f5;
}

.showimagebox {
	height: 110px;
	width: 110px;
	border: 1px solid;
	overflow: hidden;
}

.showinfo {
	margin: 5px;
	min-height: 80px;
}

.showinfo h1 {
	font-size: 15px;
}

.showinfo h2 {
	max-height: 20px;
	font-size: 19px;
	margin: 5px;
	margin-left: 122px;
}

.descriptionContent {
	min-height: 75px;
	margin-left: 122px;
	overflow: visible;
}

.more {
	display: none;
	color: blue;
	margin-top: 5px;
	margin-left: 122px;
	cursor: pointer;
}

.less {
	color: blue;
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
	display: none;
}


.imagespace {
	position: absolute;
	width: 110px;
	margin: 6px 10px 5px 5px;
}


.details {
	border-left: 2px solid red;
	padding: 6px 9px 6px 9px;
	text-align: center;
	z-index: 3;
	float: right;
}

.details h1 {
	padding-bottom: 10px;
	font-size: 18px;
}

.details span {
	font-size: 15px;
}

.containsdetails {
	float: right;
	margin-left: 5px;
}

hr {
	margin: 0px 15px 0px 15px;
}



/* ------------------------------------------------------ */
/* >>>>>>>>>>> EDIT PROGRAMME EXERCISE LIST <<<<<<<<<<<<< */
/* ------------------------------------------------------ */

.addDescriptionContent {
	min-height: 70px;
	margin-left: 122px;
	overflow: visible;
}

.editExercisebox {
	position: relative;
	background: #D2FFD3;
	min-height: 125px;
	margin: 5px;
	border: 1px solid;
}

.editExerciseboxmale {
	background: white;
}

.editExerciseboxfemale {
	background: #FFEBFF;
}


.redbackground { border: 3px solid #991b1f; }
.brownbackground { border: 3px solid #5a3c29; }
.bluebackground { border: 3px solid #3f8abf; }
.greenbackground { border: 3px solid #2e6e3d; }
.purplebackground { border: 3px solid #643558; }
.yellowbackground { border: 3px solid #cacb2c; }
.orangebackground { border: 3px solid #ce7728; }

.emailexercise {
	background: rgba(255, 255, 255, 0.8);;
	border: 1px solid;
	margin: 6px;
	padding: 6px;
}

.addMore {
	float: left;
	color: blue;
	margin-top: 5px 5px 5px 5px;
	margin-left: 122px;
	cursor: pointer;
}

.exercisescrolling {
	height: 650px;
	overflow: scroll;
}





.description {
	background: white;
	border: 2px solid blue;
}

.description p {
	padding: 5px;
	font-size: 13.5px;
	color: #666666;
}

.programsbox {
	background: white;
	margin: 5px;
}

.programsbox h1 {
	color: red;
}

.textarea {
	font-size: 12px;
	height: 100px;
}

.field {
	font-size: 12px;
}

.form {
	margin: 10px;
}

.newcontainer {
	border: 1px solid blue;
}

.newcontainer h1 {
	margin: 10px;
	background: blue;
	color: white;
	height: 30px;
}


