

/* Home page */

.homecontainer {
	margin: 10px;
}

.siteponts {
	color: #FF0F0F;
	font-weight: bold;
	font-size: 15px;
}

.featuresoutercontainer {
	background: #E89E5F;
	border: 3px solid #E8500C;
	margin: 10px 0px 10px 0px;
	border-radius: 10px;
}

.featuresinnercontainer {
	margin: 10px;
}

.featuresinnercontainer p {
	font-style: italic;
}

.features {
	color: blue;
}

.signupformouter {
	display: none;
	background: #E89E5F;
	border: 3px solid #E8500C;
	width: 300px;
	border-radius: 5px;
}


.signupforminner {
	margin: 10px 20px 10px 20px;
}

.signupforminner h1 {
	color: #0081FF;
	margin: 5px;
}


